<% provide(:title, "All Users") %>
<div class="row">
  <aside class="col-md-4">
       
    <%= will_paginate %>
  		<ul class="users">
  		  <% @users.each do |user| %>
  		    <%= render user %>
       	<% end %>
      </ul>
    <%= will_paginate %>

   </aside>
</div>