<aside class="col-md-4">
	<section class="user_info">
	<a href="/users/1"><img alt="Erwinsky" class="gravatar" src="http://s.gravatar.com/avatar/150e81e3dfd4f351468a2391d3bbfa15?s=70" /></a>

	<h3>Erwinsky</h3>
	<span><a href="/users/1">View my profile</a></span>

	<span>157 microposts</span>
	</section>
	<section class="stats">
	<div class="stats">
	<a href="/users/1/following">

	<strong id="following" class="stat">
	4
	</strong>
	following
	</a>
	<a href="/users/1/followers">

	<strong id="followers" class="stat">
	1
	</strong>
	followers
	</a>
	</div>
	</section>
	<section class="micropost_form">
	<form accept-charset="UTF-8" action="/microposts" class="new_micropost" id="new_micropost" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="w8WtG1lyL4mN+tmD4NWz/AuyrpPnN7k8Ym6CetvAqFg=" /></div>
	
	<div class="field">
	<textarea class="field span12" id="micropost_content" name="micropost[content]" placeholder="Compose new micropost..." rows="10">
	</textarea>
	</div>
	<input class="btn btn-primary" name="commit" type="submit" value="Post" />
	</form>
	</section>
	</aside>
